<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="200">
    <title>LaserCat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilo.css" />
  </head>
  <body>
    <div class="container">
      <img src="img/logo.jpg" id="logo" />
        <div class="page-header">
          <ul class="nav nav-tabs">
            <li role="presentation"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li role="presentation" class="active"><a href="cat.html"><span class="glyphicon glyphicon-heart"></span> Cat</a></li>
            <li role="presentation"><a href="dev.html"><span class="glyphicon glyphicon-console"></span> Dev</a></li>
<h3 id="texto">Brincando com seu gatinho sem sair do sofá! #Meow</h3>
          </ul>
        <img src="img/cat.jpg" id="cat"/>
      </div>

      <form role="form">
        <div class="form-group">
          <label for="text">Nome do(a) gatinho(a): </label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
          <label for="idade">Idade: </label>
          <input type="number" class="form-control" placeholder="Idade">
        </div>
        <div class="form-group">
          <label for="raca">Raça: </label>
          <input type="text" class="form-control" placeholder="Raça">
        </div>
        <div class="form-group">
          <label for="peso">Peso: </label>
          <input type="text" class="form-control" placeholder="Peso">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> <b><i>Receber avisos e informações da LaserCat</i></b></label>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </form>
      <br />
      <footer>
	<p>Copyright © 2016 by <span class="glyphicon glyphicon-console"></span>
		<u>LaserCat</u>
	</p>
	</footer>
    </div>
  </body>
</html>
